* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: rgba(0, 0, 0, 0.2);
  min-height: 100%;
}
body.animate {
  transition: background 0.2s ease-in, color 0.2s ease-in;
}
.hidden {
  display: none;
}
.wrapper {
  text-align: center;
  height: 100%;
  font-size: 0;
}
.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.container {
  display: inline-block;
  vertical-align: middle;
  width: 98%;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: monospace;
  font-size: 25px;
}
@media (min-width: 688px) and (min-height: 420px) {
  .container {
    font-size: 25px;
    letter-spacing: 15px;
  }
}
@media (min-width: 689px) and (min-height: 600px) {
  .container {
    font-size: 45px;
    letter-spacing: 25px;
  }
}
@media (min-width: 970px) and (min-height: 900px) {
  .container {
    max-width: 960px;
    letter-spacing: 35px;
    font-size: 65px;
  }
}
.row {
  white-space: nowrap;
}
.row span {
  position: relative;
}
.row span:before,
.row span:after {
  content: attr(data-word);
}
.row span:after {
  position: absolute;
  left: 0;
  bottom: 100%;
  top: 0;
  color: #000;
  overflow: hidden;
  transition: bottom 0.3s ease-in, color 0.3s ease-in;
}
.row span.active:after {
  bottom: 0;
}
.row span.birthday.active:after {
  color: #FF9100;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 28px;
  padding: 5px 10px;
  cursor: default;
}
footer .fa {
  cursor: pointer;
  margin-right: 10px;
  transition: color .3s;
  vertical-align: middle;
}
footer .fa :hover {
  color: #999;
}
footer .mode-toggle {
  display: none;
}
footer .birthday.active {
  -webkit-animation: wohoo 2s infinite;
          animation: wohoo 2s infinite;
}
.birthday-month {
  width: 120px;
}
.birthday-day {
  width: 80px;
}
select {
  opacity: .8;
  padding: 3px;
  border: 1px solid #CCC;
  font-size: 16px;
  color: #666;
  vertical-align: middle;
  border-radius: 0;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHFJREFUeNpiYBjygBHGaO/oEABSBkTqe1BZUfEAxGBBk+gnwpAPQGyI4QIkV9wHYgE8mh2Btl+ACTAhywIlwAqgCrGBQmTNGAZADQEpSMSheQG6IBM2a4AKN6AZsgAoNoHkKAKGyXwg3s8wCvACgAADABvDIdSTvsiNAAAAAElFTkSuQmCC');
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding-right: 20px;
  -webkit-appearance: none;
}
@-moz-document url-prefix() {
  select {
    padding-right: 0;
    background-image: none;
  }
}
@-webkit-keyframes wohoo {
  0% {
    color: #FF00D5;
  }
  14.3% {
    color: #FFA500;
  }
  28.6% {
    color: #009EFF;
  }
  42.9% {
    color: #00FF3D;
  }
  57.2% {
    color: #9800FF;
  }
  71.5% {
    color: #009EFF;
  }
  85.8% {
    color: #FFA500;
  }
  100% {
    color: #FF00D5;
  }
}
@keyframes wohoo {
  0% {
    color: #FF00D5;
  }
  14.3% {
    color: #FFA500;
  }
  28.6% {
    color: #009EFF;
  }
  42.9% {
    color: #00FF3D;
  }
  57.2% {
    color: #9800FF;
  }
  71.5% {
    color: #009EFF;
  }
  85.8% {
    color: #FFA500;
  }
  100% {
    color: #FF00D5;
  }
}
/* DARK THEME STYLES */
body:not(.dark) footer [data-mode=dark] {
  display: inline-block;
}
body.dark {
  background: #000;
  color: rgba(255, 255, 255, 0.2);
}
body.dark .row span:after {
  color: #FFF;
}
body.dark .row span.birthday.active:after {
  color: #00FF3D;
}
body.dark footer [data-mode=light] {
  display: inline-block;
}
