
/* DARK THEME STYLES */
body {
	&:not(.dark) footer [data-mode=dark] {
		display:inline-block;
	}
	&.dark {
		background:#000;
		color:rgba(255,255,255,.2);
		.row {
			span:after {
				color:#FFF;
			}
			span.birthday.active:after {
				color:#00FF3D;
			}
		}
		footer [data-mode=light] {
			display:inline-block;
		}
	}
} 