@keyframes wohoo {
    0%   {color: #FF00D5;}
    14.3%  {color: #FFA500;}
    28.6%  {color: #009EFF;}
    42.9%  {color: #00FF3D;}
    57.2% {color:#9800FF;}
    71.5% {color:#009EFF;}
    85.8% {color:#FFA500;}
    100% {color:#FF00D5;}
}